.drop-down{
    width: 25%;
}
.menu{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 4px;
    width: 32em;
    margin-left: 41em;
    margin-top: 33px; 
}
.test-class{
    width: 40%;
    margin-top: 5%;
    
}
.card{
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-img-top{
    width: 95%;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 14px;
}
.name {
    margin-left: 7px;
    margin-top: 6px;

}